# Build directory
build/
out-test/
out-sequential/
out-parallel/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake-build-debug/
.cache/
*.cmake
!CMakeLists.txt

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Compiled files
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# Debug files
*.pdb
*.ilk

# Vim Session files
Session.vim
*.vim~ 
*.swp
*.swo
*.vimses

# Dataset files (assuming you'll have a separate data directory)
data/
dataset/
BRATS/

# System files
.DS_Store
Thumbs.db

